h5.splx-selectedSearchResultTitle {
  margin-top: 0;
}

.splx-selectedSearchResultButtons {
  display: flex;
  justify-content: space-between;
}

.splx-selectedSearchResults .components-card {
  margin-bottom: 0.5em;

  .components-card__body {
    padding: 0.7em;
  }
}

.splx-selectedSearchResultsWrap {
  margin-top: 3em;
}
