h5.splx-handpickedPostTitle {
	margin-top: 0;
}

.splx-handpickedPostButtons {
	display: flex;
	justify-content: space-between;
}

.splx-handpickedPosts .components-card {
	margin-bottom: 0.5em;

	.components-card__body {
		padding: 0.7em;
	}
}

.splx-handpickedPostsWrap {
	margin-top: 3em;
}
