.rdb-gridItemPostPreview {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  
  &--hasImg {
    color: #fff;
  }

  // TODO responsive?
  &--cols2 {
    flex: 1 0 50%;
  }
  &--cols3 {
    flex: 1 0 33%;
  }
  &--cols4 {
    flex: 1 0 25%;
  }
  &--cols5 {
    flex: 1 0 20%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    img {
      max-width: 100%;
    }
    &:after {
      content: " ";
      position: absolute;
      display: block;
      background: none rgba(0,0,0,0.5);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__content {
    position: relative;
    padding: 15px;
  }
}