h5.rdb-selectedSearchResultTitle {
  margin-top: 0;
}

.rdb-selectedSearchResultButtons {
  display: flex;
  justify-content: space-between;
}

.rdb-selectedSearchResults .components-card {
  margin-bottom: 0.5em;
  
  .components-card__body {
    padding: 0.7em;
  }
}

.rdb-selectedSearchResultsWrap {
  margin-top: 3em;
}

.rdb-searchResult {
  > span {
    display: inline-block;
    margin-right: 0.5em;
  }
  & + & {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgb(226, 228, 231);
  }
}
