.splx-gridItemPostFeaturedMediaPreview {
  position: relative;
  
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .splx-gridItemPostPreview--layout-imagebg & {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &:after {
    content: " ";
    position: absolute;
    display: block;
    background: none rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
