:root {
  --c-brand: #289AED;
  --c-brand-light: #289AED;
}

body {
  font-family: 'latoregular';
}

.nav-bar.nav-bar {
  background: #F5F8F9;
}

.nav-bar-title {
  font-family: 'trocchiregular';
}

.nav-bar-title .logo {
  height: 1.25rem;
}

.home-hero.home-hero {
  background: #F5F8F9;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.home-content.home-content {
  max-width: 1080px;
}

.home-hero h1 {
  font-family: 'trocchiregular';
}

.home-content h2 {
  border: 0;
}
