.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.grid > .grid-col {
  flex: none;
  width: 100%;
}

@media screen and (max-width: 60rem) {
  .grid-col + .grid-col {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 60.01rem) {
  .grid-col + .grid-col {
    margin-top: 0;
  }
  .grid > .grid-col {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .grid > .grid-col--1 {
    width: 8.333%;
  }

  .grid > .grid-col--2 {
    width: 16.666%;
  }

  .grid > .grid-col--3 {
    width: 25%;
  }

  .grid > .grid-col--4 {
    width: 33.333%;
  }

  .grid > .grid-col--5 {
    width: 41.666%;
  }

  .grid > .grid-col--6 {
    width: 50%;
  }

  .grid > .grid-col--7 {
    width: 58.333%;
  }

  .grid > .grid-col--8 {
    width: 66.666%;
  }

  .grid > .grid-col--9 {
    width: 75%;
  }

  .grid > .grid-col--10 {
    width: 83.333%;
  }

  .grid > .grid-col--11 {
    width: 91.666%;
  }
}
