$test: #ff0000;

.rdb-wrap {
  min-height: 100px;
  pre {
    display: inline;
    padding: 0;
    margin: 0;
  }
}
.rdb-test {
  color: $test;
}

.rdb-grid {
  
  flex-wrap: wrap;
  &--layout-horizontal {
    display: flex;
  }
  &--cols1 {
    display: block;
  }
}
