$test: #ff0000;

.splx-wrap {
  min-height: 100px;
  pre {
    display: inline;
    padding: 0;
    margin: 0;
  }
}
.splx-test {
  color: $test;
}

.splx-grid {
  
  flex-wrap: wrap;
  &--listType-horizontal {
    display: flex;
  }
  &--cols1 {
    display: block;
  }
}

[data-type^="splx"] {
  min-height: 100px;
}
