/**
 * All of the CSS for your admin specific functionality should be
 * included in this file.
 */
.wp-block-splx {
	pointer-events: none;
}
.wp-block-splx--unpublished {
	opacity: 0.4;
}
.splx-icon {
	height: 24px;
}
.splx-panel:not(.splx-panel--no-scroll) {
	max-height: 300px;
	overflow: auto;
}
.block-editor-block-inspector .splx-panel .components-base-control {
	margin-bottom: 0;
}
.components-radio-control .components-base-control__field {
	margin-bottom: 24px;
}

.splx-searchResult {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 0;
}

.splx-searchResult .title {
	font-size: 14px;
}

.splx-searchResult .pill {
	color: rgb(240, 240, 240);
	padding: 3px 6px;
	border-radius: 12px;
	/* background-color: rgba(30,30,30,0.8); */
	background-color: rgb(0, 109, 164);
	font-size: 12px;
}

.splx-handpickedPostsWrap h4 {
	margin-bottom: 0;
}

.splx-handpickedPosts .components-card {
	box-shadow: none;
}

.splx-handpickedPosts .components-card:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.splx-handpickedPosts .components-card__body {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.splx-handpickedPosts .splx-handpickedPostTitle {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 400;
}

.splx-handpickedPostButtons {
	display: flex;
	flex-direction: column;
}

.splx-handpickedPosts .components-button.is-secondary {
	box-shadow: none;
	height: 20px;
}
