/**
 * All of the CSS for your admin specific functionality should be
 * included in this file.
 */
.wp-block[data-type*="splx"] {
	pointer-events: none;
}
.splx-icon {
  height: 24px;
}
.splx-panel {
  max-height: 300px;
  overflow: auto;
}
.block-editor-block-inspector .splx-panel .components-base-control {
  margin-bottom: 0;
}
.components-radio-control .components-base-control__field {
  margin-bottom: 24px;
}
